<!DOCTYPE html>
<html lang="en" style="background:#000000;margin:0;height:100%;width:100%;">
<head>
    <script>native = false;global = window;info=(_a,b)=>{console.info(b);};warn=(_a,b)=>{console.warn(b);};error=(_a,b)=>{console.error(b);};currentNest = {};</script><script src="../webinit/jquery.js"></script><script>window.kresources = kresources = JSON.parse($.ajax("/kartik/resources.json", { async: false }).responseText);</script>
    <script src="../lang/loader.js"></script>
    <script src="../scenario/client.js"></script>
    <meta charset="UTF-8">
    <title>Kartik</title>
    <link rel="stylesheet" href="common/fonts.css">
    <link rel="stylesheet" href="common/blur.css">
    <link rel="stylesheet" href="intro.css">
    <script src="../crash/client.js"></script>
    <script src="./script/global_compatlayer.js"></script><script src="../typescript/mainloader.js"></script>

</head>
<body style="background:#000000;margin:0;height:100%;width:100%;">
    <script>info("MainWindow", "Rendering initial frame...");
    
    if (native) {
        scale=require('@electron/remote').getCurrentWindow().scale;document.body.style.zoom=scale;
    }
    
    </script>
    <script src="./script/intro_media.js"></script>
    <div id="box" style="display:none;position:fixed;inset:0;">
    </div>

    <script src="./script/intro_global.js"></script>
    <script>info("LoadWindow", "Launching start-up procedure");</script>

    <script src="./script/client_fullscreen.js"></script>
    <script>
        location.href = "menu.html";
    </script>
</body>
</html>
