<!DOCTYPE html>
<html lang="en" style="background:#000000;margin:0;height:100%;width:100%;">
<head>
    <script>native = false;global = window;info=(_a,b)=>{console.info(b);};warn=(_a,b)=>{console.warn(b);};error=(_a,b)=>{console.error(b);};currentNest = {};</script><script src="../webinit/jquery.js"></script><script>window.kresources = kresources = JSON.parse($.ajax("/kartik/resources.json", { async: false }).responseText);</script>
    <script src="../lang/loader.js"></script>
    <script src="../scenario/client.js"></script>
    <meta charset="UTF-8">
    <title>Kartik</title>
    <link rel="stylesheet" href="common/fonts.css">
    <link rel="stylesheet" href="common/blur.css">
    <script src="../crash/client.js"></script>
    <script src="./script/global_compatlayer.js"></script><script src="../typescript/mainloader.js"></script>
    <script src="../sfx/sfx.js"></script>

    <script src="./script/online_play.js"></script>
</head>
<body style="background:#000000;margin:0;height:100%;width:100%;color:white;">
    <script>info("MainWindow", "Rendering initial frame...");
    
    if (native) {
        scale=require('@electron/remote').getCurrentWindow().scale;document.body.style.zoom=scale;
    }
    
    </script>
    <div id="box" style="display: none;background:#222;position:fixed;top:0;left:0;right:0;bottom:0;">
        <div style="position:fixed;top:0;left:0;right:0;bottom:0;display:flex;align-items:center;justify-content:center;">
            <div style="text-align: center;">
                <p style="font-size:10px;" id="progress"><script>document.write(lang.online.disconnected)</script></p>
                <p style="font-size:15px;"><script>document.write(atob(location.hash.substr(1)))</script></p>
                <p style="font-size:16px;" id="progress2"><script>document.write(lang.win.quit[0])</script></p>
            </div>
        </div>
    </div>

    <script src="./script/win_music.js"></script>

    <script src="./script/win_global.js"></script>
    <script src="./script/client_fullscreen.js"></script>
</body>
</html>
